# News Recommender System: Data Loading and Preprocessing

This a Google Colab for our project for the AI Course at UCU, 2021.

**Authors**: Dmytro Lopushanskyy, Volodymyr Savchuk.

The report for this project will be attached separately on CMS.

Here is a list of materials that helped us create this project:

* [MIND Data set](https://msnews.github.io/)
* [Build Recommendation Engine](https://realpython.com/build-recommendation-engine-collaborative-filtering/)
* [Recommender Systems in Python](https://www.kaggle.com/gspmoreira/recommender-systems-in-python-101#Recommender-Systems-in-Python-101)
* [MIND Recommendation Notebook](https://www.kaggle.com/accountstatus/mind-microsoft-news-recommendation-v2/notebook#Text-Preprocessing)
* [Evaluating Recommender Systems](http://fastml.com/evaluating-recommender-systems/)

## Imports

In [3]:
import numpy as np
import scipy
import pandas as pd
import math
import random
import sklearn
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import plotly.express as px
from wordcloud import WordCloud
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [7]:
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /Users/vozak16/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vozak16/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/vozak16/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## Load The Data

We are using MIND data set for our recommendation system. It contains two main files: behaviors and English news articles data.

In [6]:
behaviors_header = ['ImpressionID', 'UserID', 'Time', 'History', 'Impressions']
behaviors_df = pd.read_csv('MINDsmall_dev/behaviors.tsv', sep='\t', names=behaviors_header)
#test_behaviors_df = pd.read_csv('/content/drive/MyDrive/Data/test_behaviors.tsv', sep='\t', names=behaviors_header)

news_header = ['NewsID', 'Category', 'SubCategory', 'Title', 'Abstract', 'URL', 'TitleEntities', 'AbstractEntities']
articles_df = pd.read_csv('MINDsmall_dev/news.tsv', sep='\t', names=news_header)
#test_articles_df = pd.read_csv('/content/drive/MyDrive/Data/test_news.tsv', sep='\t', names=news_header)

# articles_df += test_articles_df

behaviors_df.head(5)

,ImpressionID,UserID,Time,History,Impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,N28682-0 N48740-0 N31958-1 N34130-0 N6916-0 N5...
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,N20036-0 N23513-1 N32536-0 N46976-0 N35216-0 N...
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,N36779-0 N62365-0 N58098-0 N5472-0 N13408-0 N5...
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,N6950-0 N60215-0 N6074-0 N11930-0 N6916-0 N248...
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,N5940-1 N23513-0 N49285-0 N23355-0 N19990-0 N3...

In [ ]:
articles_df.head()

   NewsID  ...                                   AbstractEntities
0  N55528  ...                                                 []
1  N19639  ...  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2  N61837  ...  [{"Label": "Ukraine", "Type": "G", "WikidataId...
3  N53526  ...  [{"Label": "National Basketball Association", ...
4  N38324  ...  [{"Label": "Skin tag", "Type": "C", "WikidataI...

[5 rows x 8 columns]

Filter from NA values and from users who have a small click history (less than 5)

In [ ]:
filtered_behaviors = behaviors_df[behaviors_df.History.str.split().str.len() > 5]

f"Number of rows before: {behaviors_df.shape[0]}. After: {filtered_behaviors.shape[0]}"

'Number of rows before: 156965. After: 130019'

In [ ]:
# Drop articles with duplicate titles
filtered_articles = articles_df.drop_duplicates(subset=['Title'])

# Drop articles with empty Abstract
filtered_articles = filtered_articles[filtered_articles.Abstract.notna()]

# Drop articles with titles less than 4 words
filtered_articles = filtered_articles[filtered_articles['Title'].apply((lambda x: len(x.split())>=4))]

f"Number of rows before: {articles_df.shape[0]}. After: {filtered_articles.shape[0]}"

'Number of rows before: 51282. After: 47661'

In [ ]:
filtered_articles.head()

   NewsID  ...                                   AbstractEntities
0  N55528  ...                                                 []
1  N19639  ...  [{"Label": "Adipose tissue", "Type": "C", "Wik...
2  N61837  ...  [{"Label": "Ukraine", "Type": "G", "WikidataId...
3  N53526  ...  [{"Label": "National Basketball Association", ...
4  N38324  ...  [{"Label": "Skin tag", "Type": "C", "WikidataI...

[5 rows x 8 columns]

In [ ]:
filtered_articles = filtered_articles.iloc[:,:5]
filtered_articles.head()

   NewsID  ...                                           Abstract
0  N55528  ...  Shop the notebooks, jackets, and more that the...
1  N19639  ...  These seemingly harmless habits are holding yo...
2  N61837  ...  Lt. Ivan Molchanets peeked over a parapet of s...
3  N53526  ...  I felt like I was a fraud, and being an NBA wi...
4  N38324  ...  They seem harmless, but there's a very good re...

[5 rows x 5 columns]

In [ ]:
behaviors_df_expanded = behaviors_df.copy()

In [ ]:
behaviors_df_expanded['Number of Articles interacted'] = behaviors_df['History'].str.split(' ').str.len()
behaviors_df_expanded['Number of Articles showed'] = behaviors_df['Impressions'].str.split(' ').str.len()